[Unit]
Description=AUDia LLM Gateway
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Group=root
WorkingDirectory=/opt/AUDiaLLMGateway
EnvironmentFile=-/opt/AUDiaLLMGateway/config/local/env
ExecStart=/opt/AUDiaLLMGateway/scripts/AUDiaLLMGateway.sh start
ExecStop=/opt/AUDiaLLMGateway/scripts/AUDiaLLMGateway.sh stop

[Install]
WantedBy=multi-user.target
